---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: virtualdatabases.core.database-mesh.io
spec:
  group: core.database-mesh.io
  names:
    kind: VirtualDatabase
    listKind: VirtualDatabaseList
    plural: virtualdatabases
    shortNames:
    - vdb
    singular: virtualdatabase
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VirtualDatabaseSpec defines the desired state of VirtualDatabase
            properties:
              databaseClassName:
                type: string
              services:
                items:
                  description: Service Defines the content of a VirtualDatabase
                  properties:
                    dataShard:
                      type: string
                    databaseMySQL:
                      description: DatabaseMySQL The type one of VirtualDatabase.Represents
                        a virtual MySQL type
                      properties:
                        db:
                          type: string
                        host:
                          type: string
                        password:
                          type: string
                        poolSize:
                          format: int32
                          type: integer
                        port:
                          format: int32
                          type: integer
                        serverVersion:
                          type: string
                        user:
                          type: string
                      type: object
                    name:
                      type: string
                    qosClaim:
                      type: string
                    trafficStrategy:
                      type: string
                  required:
                  - databaseMySQL
                  - name
                  type: object
                type: array
            required:
            - services
            type: object
          status:
            description: 'VirtualDatabaseStatus defines the observed state of VirtualDatabase
              Endpoints display the name of the associated DatabaseEndpoint TODO:
              Implement dynamic updates'
            properties:
              endpoints:
                items:
                  type: string
                type: array
            required:
            - endpoints
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
